In [1]:
# 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

test1 = 'This is a test of the emergency text system'
file = open('test.txt','w')
file.write(test1)

43

In [2]:
# 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

file2 = open('test.txt','r')
test2 = file2.readline()
test2

''

In [3]:
if test1==test2:
    print('Both are same')

In [4]:
# 3. Create a CSV file called books.csv by using these lines:
# title,author,year
# The Weirdstone of Brisingamen,Alan Garner,1960
# Perdido Street Station,China Miéville,2000
# Thud!,Terry Pratchett,2005
# The Spellman Files,Lisa Lutz,2007
# Small Gods,Terry Pratchett,1992

import csv
rows =[ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
with open('books.csv','w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(rows)

In [6]:
# 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

import sqlite3
conn = sqlite3.connect('books.db')
c = conn.cursor()
c.execute('create table books2(title varchar(20),author varchar(20), year int)')
conn.commit()

In [7]:
# 5. Read books.csv and insert its data into the book table.

import pandas as pd

read_books = pd.read_csv('books.csv',encoding='unicode_escape')
read_books.to_sql('books', conn, if_exists='append', index = False)

5

In [8]:
# 6. Select and print the title column from the book table in alphabetical order.

c.execute('select title from books order by title asc')
print(c.fetchall())

[('Perdido Street Station',), ('Perdido Street Station',), ('Perdido Street Station',), ('Perdido Street Station',), ('Small Gods',), ('Small Gods',), ('Small Gods',), ('Small Gods',), ('The Spellman Files',), ('The Spellman Files',), ('The Spellman Files',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('The Weirdstone of Brisingamen',), ('The Weirdstone of Brisingamen',), ('The Weirdstone of Brisingamen',), ('Thud!',), ('Thud!',), ('Thud!',), ('Thud!',)]

In [9]:
# 7. From the book table, select and print all columns in the order of publication.

c.execute('select title, author,year from books order by year')


df = pd.DataFrame(c.fetchall(), columns=['title','author','year'])
df

                            title           author  year
0   The Weirdstone of Brisingamen      Alan Garner  1960
1   The Weirdstone of Brisingamen      Alan Garner  1960
2   The Weirdstone of Brisingamen      Alan Garner  1960
3   The Weirdstone of Brisingamen      Alan Garner  1960
4                      Small Gods  Terry Pratchett  1992
5                      Small Gods  Terry Pratchett  1992
6                      Small Gods  Terry Pratchett  1992
7                      Small Gods  Terry Pratchett  1992
8          Perdido Street Station   China Miéville  2000
9          Perdido Street Station   China Miéville  2000
10         Perdido Street Station   China Miéville  2000
11         Perdido Street Station   China Miéville  2000
12                          Thud!  Terry Pratchett  2005
13                          Thud!  Terry Pratchett  2005
14                          Thud!  Terry Pratchett  2005
15                          Thud!  Terry Pratchett  2005
16             The Spellman Files        Lisa Lutz  2007
17             The Spellman Files        Lisa Lutz  2007
18             The Spellman Files        Lisa Lutz  2007
19             The Spellman Files        Lisa Lutz  2007

In [10]:
# 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\siddh\appdata\local\programs\python\python310\lib\site-packages (1.4.46)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\siddh\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy) (2.0.1)

In [11]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

C:\Users\siddh\AppData\Local\Temp\ipykernel_2608\4148485937.py:3: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  rows = engine.execute('select * from books')

In [12]:
# 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

!pip install redis

Requirement already satisfied: redis in c:\users\siddh\appdata\local\programs\python\python310\lib\site-packages (4.4.0)
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\siddh\appdata\local\programs\python\python310\lib\site-packages (from redis) (4.0.2)

In [13]:
import redis
try:
    conn = redis.Redis()
    conn.delete('test')
    conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
    conn.hgetall('test')
except Exception as e:
    print(e)

Error 10061 connecting to localhost:6379. No connection could be made because the target machine actively refused it.

In [14]:
# 10. Increment the count field of test and print it.
try:
    conn.hincrby('test','count', 3)
except Exception as e:
    print(e)

Error 10061 connecting to localhost:6379. No connection could be made because the target machine actively refused it.